.toggleButton[aria-pressed='true'] .buttonContent {
  transform: rotate(90deg);
}
.toggleButton .buttonContent {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.loader {
  margin-inline-start: 1rem;
}
